 /*導覽列設定*/
 
 .nav {
     height: 64px;
     position: fixed;
     margin: 0px auto;
     overflow: auto;
     background: black;
     z-index: 99;
 }
 
 .nav .row {
     height: 64px;
     color: white;
     font-size: 20px;
     text-align: center;
     position: fixed;
     width: 100%;
     background: black;
     position: fixed;
 }
 
 .nav img {
     height: 33px;
 }
 
 .nav a {
     text-decoration: none;
     vertical-align: middle;
     color: white;
 }
 /*導覽列下拉選單設定*/
 
 .nav ul {
     display: none;
     background: #accc5a;
     width: 150%;
     position: relative;
     opacity: 0.8;
     font-size: 0.9em;
 }
 
 .nav ul li {
     height: 30px;
     line-height: 30px;
 }
 
 .nav .row #dropdown:hover ul {
     display: inline-block;
 }
 
 .nav ul li:hover a {
     color: red;
 }
 /*導覽列下拉選單結束*/
 /*section-1 圖片設定*/
 
 .section-1 {
     clear: both;
     overflow: auto;
     background-image: url(https://source.unsplash.com/1000x400?morning);
     background-size: cover;
     height: 400px;
     margin: 0px;
     padding: 0px;
     /*    border: 5px solid red;*/
 }
 /*section-1 圖片設定結束*/
 /*section-2 設定*/
 
 .container {
     text-align: center;
 }
 
 .btn {
     display: inline-block;
     text-align: center;
     text-decoration: none;
     border-radius: 18px;
 }
 
 .btn-primary {
     background: #de4248;
     color: white;
     font-size: 0.6em;
 }
 
 .btn-lg {
     height: 50px;
     width: 120px;
     line-height: 50px;
 }
 /*section-2 設定結束*/
 /*section-3 設定*/
 
 .section-3 {
     height:20%;
     border: 1px solid gray;
background-color: black;
     color: #ba8133;
 }
 
.section-3 p{
    vertical-align: middle;
    
}

 .section-3 p:after {
     content: "";
     width:90%;
     border: 1px solid #eb8a28;
     display: inline-block;

 }

.section-3 #footer{
 
    height: 100%;
    line-height: 50px;
    text-align: center;
}
 /*section-3 設定結束*/
 /*footer*/
 
 footer img {
     width: 80px;
 }
 
 footer .align {
     font-size: 1.5em
 }
 
 footer {
     height: 20%;
     line-height: 700%;
     margin: 0px;
     width: 100%;
 }
