/*
body 

    background-image: url(https://source.unsplash.com/1000x500?animal);
    background-repeat: no-repeat;
    background-attachment: fixed;
 fixed 可以讓圖固定然後內容會往上捲 */


/*
引文設定
*/

blockquote {
    background-image: url(../images/quotation.jpg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 50px;
    /*    background-position: 1px 80px;*/
    background-position: left top;
}


/*
縮圖區塊設定
*/

.thumbnail {
    width: calc(25% - 10px);
    float: left;
    margin: 5px;
}

.thumbnail-img {
    width: 100%;
}

.caption-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.caption-body {
    line-height: 1.5;
}

.caption-btn {
    text-decoration: none;
}

.caption-btn {
    display: block;
    font-size: 16px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d6546d;
    border-radius: 5px;
}

.caption-btn:link {
    color: #d6546d;
}

.caption-btn:visited {
    color: #d6546d;
}

.caption-btn:hover {
    color: #d6546d;
}

.caption-btn:active {
    color: #d6546d;
}


/*
Header
*/

.header {
    height: 300px;
    color: white;
    background-image: url(https://source.unsplash.com/300x300?Nature);
    background-repeat: no-repeat;
    background-size: cover;
}
